body {
    padding:0px;
    margin:0px;
    font-family:Tahoma;
}

.leftDiv {
	width: 202px;
 	float:left;
 	background-color:red;
}

.rightDiv{
	width:1038px;
	float:left;
	position:relative;
}

	
.myName {
	left: 100px;
	top: -50px;
	position:relative;
	background-color:green;
}	

.contact:hover {
	cursor: pointer;
}

#divTest {
    height: 150px;
    color:white;
    overflow:auto;
    padding:0px 0px 10px 0px;
    background-color:silver;
    font-size:0.875em;
    cursor: move;
}

.ui-resizable-s {
    bottom: 0;
    height: 10px;
    background: rgba(124,124,124,0.01);
}

.month {
	padding:0px 111px 0px 0px;
	font-size:10px;
	background-color: red;
}

.year {
	font-size:10px;
	background-color: green;
}

.time {
	background: none repeat scroll 0 0 green;
  	border: 1px solid black;
  	width:10px;
  	height:10px;
  	color: rgba(124,124,124,0);
  	margin-bottom:10px;
  	margin-top:10px;
}

.time:hover{
	background: none repeat scroll 0 0 green;
  	border-radius: 50% 50% 50% 50%;
  	border: 1px solid black;
  	width:10px;
  	height:10px;
  	color: rgba(124,124,124,0);
  	margin-bottom:10px;
  	margin-top:10px;
  	cursor:pointer;
}


#viz{
	padding: 5px 0px 5px 0px;
}
